{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1>Rules for the Game</h1>
  <p>Welcome to Avalonline, this is a game of hidden loyalty. Players are either Loyal Servants of Arthur (good guys) or aligned with the Evil ways of Mordred. Good wins the game by successfully completing three quests. Evil wins if three Quests end in failure. Evil can also win by successfully identifying Merlin at the games end or if a Quest cannot be undertaken. Here are the instructions</p>
    <ol>
      <li>You need to log in with your username to start this game, click the login panel and follow the instructions </li>
      <li>Once the game begins, you will be randomly given a role. Here are the roles as follows</li>
        <ul>
          <li>Normal Good Character: The most common player in the game. You want Quests to succeed. You only know that you are a good player</li>
          <li>Merlin, Good Character: Merlin is blessed and cursed with knowledge. Merlin knows who the evil characters are, he does not want to reveal himself though, if the assassin correctly guesses Merlin, then Evil will prevail </li>
          <li>Normal Evil Character: Your goal is to prevent three quests from succeeding. You know the other Evil characters</li>
          <li>Assassin, Evil Character: Same as a normal evil character, however if good succeeds after evil characters may discuss who they believe Merlin is. If the assassin correctly identifies Merlin, then Evil will prevail</li>
        </ul>
      <li>The game will begin when the game master enters the correct password into the game status screen</li>
      <li>The game has begun
      <li>Team Builder Section: </li>
        <ul>
          <li>Leader List: initially randomly generated, the rest of the game the leader will be called sequentially</li>
          <li>Team Builder Round: Initially set to 1, this tracks how many team builder votes have occured. If there is no agreement after the 5th vote evil prevails</li>
          <li>Past Team Builder Votes: You can see the past team builder votes made by yourself and the other players</li>
          <li>Team Builder Proposal: This will only show up for the user who is the leader, the leader makes the team proposal, but may discuss it publicly with all players </li>
          <li>The proposed team will be publicly available and all users will vote yes or no, it a majority votes yes then the team will go on a quest, if a majority votes no then the next leader is chosen, the Team Builder Round increases by one, and process is repeated</li>
        </ul>
      <li>Quest Section</li>
        <ul>
          <li>Once a team has been chosen, all users included on the team will now get the opportunity to vote on the success of the quest</li>
          <li>All good characters will only be given the option to succeed, but evil characters can choose for the quest to succeed or fail</li>
          <li>Once all team members vote, the results of the quest are returned</li>
        </ul>
      <li>Special Powers Section</li>
        <ul>
          <li>Some characters, like the evil characters and Merlin, have special powers available in this section</li>
          <li>Power of sight: Evil characters and Merlin are aware of who is evil, this is secret information listed here</li>
          <li>Assassin: If Good succeessfully completes 3 quests, the assassin has the chance to guess who Merlin is, The assassin may confer with the other evil characters, it is advised that good characters stay quiet during this time</li>
        </ul>
      <li>You will now enter the teambuilding phase</li>
    </ol>
{% endblock %}
