{% extends "base.html" %}
{% block title %}Game Status{% endblock %}
{% block content %}

{% if form.validate_on_submit() %}

  <p>Number of users on page is {{ text }}</p>

{% else %}


    <div class="content-section">
        <form action="" method="POST">
            {{ form.hidden_tag()  }}
              <legend class ='border-bottom mb-4'>Click to Join Game</legend>

            <div class="form-group">
              {{ form.submit(class="btn btn-outline-info")}}
            </div>
        </form>

    </div>

{% endif %}

{% endblock content %}
