{% extends "base.html" %}
{% block title %}Game Status{% endblock %}
{% block content %}

{% if ( (form.validate_on_submit()) and (active_players< num_of_players)  ) %}
  <p>Number of active players are {{active_players}} </p>
  <p>Still waiting on players, game will begin when full party has joined</p>

{% elif ((form.validate_on_submit()) and (active_players == num_of_players)) %}
<p>Number of users on page is {{ active_players }}</p>

  <div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
          <fieldset class = "content-group">
            <legend class = "border-bottom mb-4">TeamBuilder Status</legend>

            <h6 align = 'center'>Current team leader is (insert team leader here)</h6>

           <div class="leader-list">

            <p> Leader List</p>

            </div>
            {{joined_players}}

            <br>
            <p>Select who will accompany you</p>
            <!--This should only be visible if current_user is leader-->
            {% for users in joined_players %}
            <input type="submit" name="buttons"
              value={{ users.username }}
              style="color:red"
              onclick="color:blue"
            >
            {% endfor %}
            <br>
            <br>
            <input type="submit" name="Submit" value= 'Submit'>
            <br>
            <br>
            <p>Submitted Team</p>
              <p>Here is where sthe submited team will go</p>

            <p>Vote Yes if you support this team to go on a quest, no if you don't</p>



          </div>



    <div class="content-section">
      <form method="POST" action="">
          {{ form.hidden_tag() }}
            <fieldset class = "content-group">
              <legend class = "border-bottom mb-4">Quest </legend>

              <h5>Quest Vote</h5>
              <p>Evil characters may <b>choose</b> whether the quest fails or not.
              Good characters must support the quest (they will only see the Support Quest Button)</p>


      </div>


    <div class="content-section">
      <form method="POST" action="">
          {{ form.hidden_tag() }}
            <fieldset class = "content-group">
              <legend class = "border-bottom mb-4"> Character Status</legend>

              <p>Team Leaders Order depicted here</p>

              </div>





{% else %}

  <div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
          <fieldset class = "form-group">
            <legend class = "border-bottom mb-4">Enter email and click join to begin game</legend>

        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info")}}
        </div>
    </form>
  </div>


{% endif %}

{% endblock content %}
