{% extends "base.html" %}
{% block title %}Game Status{% endblock %}
{% block content %}



{% if form.validate_on_submit() %}
  <p>Number of users on page is {{ text }}</p>

  <div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
          <fieldset class = "content-group">
            <legend class = "border-bottom mb-4">TeamBuilder Status</legend>


            {% for users in query %}
            <!-- <span>{{ users }}</span> -->
              <input type="submit" name="buttons" value={{ users.username }}>

            {% endfor %}

            <p>Team Leaders Order depicted here</p>

            </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info")}}
        </div>
    </form>
  </div>

  <div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
          <fieldset class = "content-group">
            <legend class = "border-bottom mb-4">Quest </legend>

            <h5>Quest Vote</h5>
            <p>Evil characters may <b>choose</b> whether the quest fails or not.
            Good characters must support the quest (they will only see the Support Quest Button)</p>

          <input type="submit" name="yes_quest_button" value="Support Quest">

          <input type="submit" name="no_quest_button" value="Fail Quest">

            </div>
        </fieldset>

    </form>
  </div>

  <div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
          <fieldset class = "content-group">
            <legend class = "border-bottom mb-4"> Character Status</legend>




            <p>Team Leaders Order depicted here</p>

            </div>
        </fieldset>
    </form>
  </div>




{% else %}

  <div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
          <fieldset class = "form-group">
            <legend class = "border-bottom mb-4">Enter email and click join to begin game</legend>

            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}

                {% if form.email.errors %}
                  {{ form.email(class="form-control form-control-lg is invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.email.errors%}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>

                {% else %}
                  {{ form.email(class="form-control form-control-lg") }}

                {% endif %}

            </div>


        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info")}}
        </div>
    </form>
  </div>


{% endif %}

{% endblock content %}
